[submodule "product"]
	path = product
	url = https://github.com/Quesarito/product-service.git
[submodule "related-items"]
	path = related-items
	url = https://github.com/Quesarito/related-items-service.git
[submodule "reviews"]
	path = reviews
	url = https://github.com/Quesarito/reviews-service.git
